<template>
    
    <form class="user-invitation md-elevation-5">

        <h4 class="md-subheading">Invite new user</h4>

        <AppInput
            class="user-invitation__field"
            required
            placeholder="Email"
            v-model="$v.email.$model"
            :error="$v.email.$invalid && $v.email.$dirty"
            errorText="Valid email is required"
        />

        <AppInput
            controlType="select"
            class="user-invitation__field"
            required
            placeholder="Role"
            v-model="$v.role.$model"
            :error="$v.role.$invalid && $v.role.$dirty"
            errorText="Role is required">
            
            <option value="" selected>Choose Role</option>
            <option value="admin">Admin</option>
            <option value="design">Design & Preflight</option>
            <option value="facilitator">Facilitator</option>
        </AppInput>

        <md-button
                class="md-primary md-raised"
                :disabled="$v.$invalid"
                @click.prevent="sendInvitation()">Send invitation</md-button>

        <md-snackbar md-position="center" :md-active.sync="showSnackbar" :md-duration="3000" md-persistent>
            <span>Invitation sent!</span>
            <md-button class="md-primary" @click="showSnackbar = false">Got it</md-button>
        </md-snackbar>

    </form>

</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
    name: 'UserInvitation',
    data: () => ({
        email: '',
        role: '',
        showSnackbar: false
    }),
    validations: {
        email: { required, email },
        role: { required }
    },
    methods: {
        sendInvitation() {
            this.email = this.role = '';
            this.$v.$reset();
            this.showSnackbar = true;
        }
    }
}
</script>

<style lang="scss" scoped>
    .user-invitation {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        @include white-card-with-subheading;

        .md-subheading {
            width: 100%;
            font-weight: 600;
        }

        & > * {
            margin-right: $margin-small;
        }

        &__field {
            width: 30rem;
        }
    }
</style>