// Custom imports
@import "./base/base";
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/utilities";

// Vue Material Theme settings
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons');
@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (
   primary: $color-primary, // The primary color
   accent: $color-blue, // The accent or secondary color
 ));
@import "~vue-material/dist/theme/all"; // Apply the theme




/* Overwriting material styles */
.md-theme-default a:not(.md-button) {
  color: #fff;
  font-weight: 300;
}
.design-orders-tabs .md-tabs-navigation .md-button {
  width: 33.333%;
  max-width: 33.333%;
}
.md-button {
    margin: 0;
    padding: 0 15px;
    letter-spacing: 1.1px;
}
.md-tabs-content {
  height: auto !important;
}

/* Animations */
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}