<template>
    <div class="component-wrap">
        <md-list class="queue-list md-elevation-10">
            <md-list-item class="queue"
                v-for="(queue, index) in queues" :key="index + 'queue'"
                @click="$router.push('/material/queues/' + 123)">

                <span class="queue__name">Vinyl</span>
                <span class="queue__items">25 items</span>
                <md-button class="md-raised md-primary"
                            @click.stop="printSet()">Print set</md-button>

            </md-list-item>
        </md-list>
    </div>
</template>

<script>
export default {
    name: 'UIQueuesList', 
    props: {
        queues: {
            type: Array,
            required: true
        }
    },
    methods: {
        printSet() {
            console.log('Printing Set');
        }
    }
}
</script>

<style lang="scss" scoped>
.queue-list{
    width: 100%;
    padding: 0;
}
.queue {
    border: 1px solid rgba($color-black, .5);

    &:not(:last-child) {
        border-bottom: 0;
    }
}
</style>