/** 
* Default auth form styles.
* Used in login and reset password forms.
*/
@mixin default-auth-form {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    padding: 2.4rem 3.2rem;
    margin: $margin-huge auto 0;
    width: 360px;

    &__logo {
        width: 6.4rem;
        margin: 0 auto 2.4rem;
    }

    &__title {
        text-align: center;
    }

    &__title,
    &__field{
        margin-bottom: $margin-small;
    }

    &__submit-btn {
        margin-bottom: 8px;
    }

    &__forgot-link {
        color: $color-blue;
        cursor: pointer;
    }
}

/** 
* Status card styles.
* Used in couple components for Shipment Dashboard.
*/
@mixin manage-status-card {
    display: flex;
    flex-direction: column;

    .md-button {
        min-width: 220px;
        margin: 0 auto $margin-small;

        &:not(.md-primary) {
            background-color: rgba($color-grey, .4);
            color: $color-white;
        }

        &:last-child {
            margin-bottom: $margin-medium;
        }
    }
}

/**
* Default custom white card.
* Used on Shipment Dashboard. 
*/
@mixin white-card-with-subheading {
    background-color: $color-white;
    padding: 2.4rem;
    margin-bottom: 2.4rem;

    .md-subheading {
        margin-bottom: $margin-small;
    }
}

/** Media Queries Manager.
    $breakpoint argument choices 
    - xsmall: 599px
    - small: 599 - 959px
    - medium: 959 - 1279px
    - large: 1279 - 1919px
    - xlarge: 1920px +
*/

@mixin respond($breakpoint){
    
    @if $breakpoint == xlarge {
        @media only screen and (min-width: 1920px) {@content};
    }

    @if $breakpoint == large {
        @media only screen and (max-width: 1919px) {@content};
    }

    @if $breakpoint == medium {
        @media only screen and (max-width: 1279px) {@content};
    }

    @if $breakpoint == small {
        @media only screen and (max-width: 959px) {@content};
    }

    @if $breakpoint == xsmall {
        @media only screen and (max-width: 599px) {@content};
    }

}