$container-width: 91.5em;

$color-primary: #CD0A2F;
$color-white: #fff;
$color-black: #222;
$color-grey: #57585B;
$color-blue: #4ea5d9;

$margin-small: 1.6rem;
$margin-medium: 2.4rem;
$margin-big: 3.2rem;
$margin-huge: 6.4rem;
