<template>
    <div class="component-wrap">
        <AppContentHeader :headline="'Order #' +  id"></AppContentHeader>

        <OrderDataBlock @uploadFile="showDialog = true"/>

        <DesignDashboardUploadDialog
            :showDialog.sync="showDialog"
            @fileUploaded="showSnackbar = true"/>

        <md-snackbar
            md-position="center"
            :md-active.sync="showSnackbar"
            :md-duration="3000" md-persistent>

            <span>Original succesfully uploaded!</span>
            <md-button class="md-primary" @click="showSnackbar = false">Got it</md-button>

        </md-snackbar>    

    </div>

</template>

<script>
import OrderDataBlock from "@/components/Common/OrderDataBlock";
import DesignDashboardUploadDialog from "@/components/DesignDashboard/DesignDashboardUploadDialog";

export default {
    name: 'DesignDashboardOrder',
    data: function() {
        return {
            id: 0,
            showDialog: false,
            showSnackbar: false
        }
    },
    components: {
        OrderDataBlock,
        DesignDashboardUploadDialog
    },
    methods: {

    },
    created() {
        this.id = this.$route.params.id;
    }
}
</script>

<style lang="scss" scoped>

</style>