<template>
    <div class="component-wrap">

        <AppContentHeader headline="Design Orders"></AppContentHeader>
       
        <md-tabs class="design-orders-tabs">

            <md-tab id="tab-sponsorships" md-label="Sponsorships">
                <div class="md-layout md-alignment-top-center">
                    
                    <OrderCard 
                        v-for="(order, index) in sponsorships"
                        :key="index + '_sponsorships'"
                        class="md-layout-item md-xlarge-size-30 md-large-size-30 md-medium-size-30 md-small-size-50 md-xsmall-size-100">
                    </OrderCard>

                </div>

                <AppEmptyState message="There is no sponsorships to display." v-if="!sponsorships.length"/>

            </md-tab>

            <md-tab id="tab-free-standing" md-label="Free Standing">
                 <div class="md-layout md-alignment-top-center">
                    
                    <OrderCard 
                        v-for="(order, index) in freeStanding"
                        :key="index + '_freeStanding'"
                        class="md-layout-item md-xlarge-size-30 md-large-size-30 md-medium-size-30 md-small-size-50 md-xsmall-size-100">
                    </OrderCard>

                </div>
                
                <AppEmptyState message="There is no free standing orders to display." v-if="!freeStanding.length"/>

            </md-tab>

            <md-tab id="tab-signage" md-label="Signage">
                 <div class="md-layout md-alignment-top-center">

                    <OrderCard 
                        v-for="(order, index) in signage"
                        :key="index + '_signage'"
                        class="md-layout-item md-xlarge-size-30 md-large-size-30 md-medium-size-30 md-small-size-50 md-xsmall-size-100">
                    </OrderCard>

                 </div>
                
                <AppEmptyState message="There is no free signage to display." v-if="!signage.length"/>

            </md-tab>

        </md-tabs>

    </div>
</template>

<script>
import OrderCard from "@/components/Common/OrderCard"

export default {
    name: 'DesignDashboard',
    data: function() {
        return {
            sponsorships: [1, 2, 3, 4, 5, 6],
            freeStanding: [1, 2, 3],
            signage: []
        }
    },
    components: {
        OrderCard
    }
}
</script>

<style lang="scss" scoped>
.design-orders-tabs {
    border: 1px solid rgba($color-black, .4);
}
</style>