<template>
    <div class="component-wrap">
        <AppContentHeader headline="Queues"/>
        <QueuesList :queues="queues"/>

    </div>
</template>

<script>
import QueuesList from '@/components/MaterialDashboard/QueuesList'

export default {
    name: 'MaterialDashboardQueuesList',
    data: function(){
        return {
            queues: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        }
    },
    components: {
        QueuesList
    }
}
</script>