<template>
    <div class="component-wrap">

        <AppContentHeader headline="Vinyl queue">
            <md-button class="md-primary md-raised">Print set</md-button>
        </AppContentHeader>

        <div class="queues-slider">

            <div class="queue-control-panel md-layout-item md-large-size-100 md-elevation-10">
               
                <md-button class="md-primary md-raised"
                    :disabled="setIndex <= 0" 
                    @click="setIndex--">Previous</md-button>

                <span class="md-body-2">{{setIndex !== (sets.length - 1) ? 'Previous set (Printed on 10/10/2019)' : 'Current set'}}</span>
                
                <md-button class="md-primary md-raised"
                            :disabled="setIndex >= (sets.length - 1)"
                            @click="setIndex++"
                            >Next</md-button>

            </div>
            
            <div class="md-layout md-alignment-top-space-between" :key="setIndex">
                
                <OrderCard 
                    v-for="(order, index) in sets[setIndex]"
                    :key="index + '_orders'"
                    cardMode="minimal"
                    class="md-layout-item md-large-size-30 md-medium-size-30 md-small-size-50 md-xsmall-size-100">
                </OrderCard>

            </div>

        </div>

    </div>
</template>

<script>
import OrderCard from "@/components/Common/OrderCard.vue"

export default {
    name: 'MaterialDashboardQueue',
    data: () => ({
        sets: 
        [
            [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            [1, 2],
            [1, 2, 3, 4],
        ],
        setIndex: 0
    }),
    components: {
        OrderCard
    },
    created() {
        this.setIndex = this.sets.length - 1;
    }
}
</script>

<style lang="scss" scoped>
    .queues-slider {
        background-color: rgba($color-grey, .2);
    }
    .queue-control-panel {
        height: 56px;
        margin-bottom: $margin-medium;
        background-color: $color-white;
        display: flex;
        align-items: center;
        padding: 0 2.4rem;

        .md-body-2 {
            margin: 0 auto;

            @include respond(xsmall) {
                font-size: 1.2rem;
                font-weight: 400;
                text-align: center;
                line-height: 1.4rem;
            }
        }

        .md-button {
             @include respond(xsmall) {
                font-size: 1.2rem;
                font-weight: 400;
                padding: 0 1rem;
            }
        }
    }
</style>