<template>
    <div class="component-wrap">
        
        <AppContentHeader headline="Submitted Orders">
            <router-link tag="md-button" to="/material/queues" class="md-primary md-raised">Check queues</router-link>
        </AppContentHeader>

        <div class="md-layout md-alignment-top-space-between">
                        
            <OrderCard 
                v-for="(order, index) in orders"
                :key="index + '_orders'"
                cardMode="material"
                class="md-layout-item md-xlarge-size-30  md-large-size-30 md-medium-size-30 md-small-size-50 md-xsmall-size-100">
            </OrderCard>

        </div>

        <AppEmptyState message="There is no ready orders to display." v-if="!orders.length"/>

    </div>
</template>

<script>
import OrderCard from "@/components/Common/OrderCard.vue"

export default {
    name: 'MaterialDashboard',
    data: function() {
        return {
            orders: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        }
    },
    components: {
        OrderCard
    }
}
</script>

<style lang="scss" scoped>

</style>