<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      
      <md-app-toolbar class="md-primary">

        <md-button class="md-icon-button navigation-btn" @click="menuVisible = !menuVisible">
          <md-icon>menu</md-icon>
        </md-button>

        <div class="app-content toolbar-content">

            <img srcset="@/assets/img/tcs_logo_1x.png 1x, @/assets/img/tcs_logo_2x.png 2x" alt="Logo image" class="app-logo" @click="$router.push('/')">

            <div class="toolbar-menu">
                <span class="md-title">Hello, Admin!</span>
                <md-icon class="icon-btn md-primary u-color-text-primary">notifications_none</md-icon>
                <md-icon class="icon-btn md-primary u-color-text-primary">person_outline</md-icon>
                <md-icon class="icon-btn md-primary u-color-text-primary" @click.native="logOut()">exit_to_app</md-icon>
            </div>

        </div>
       

      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible">
        
        <md-toolbar class="navigation-toolbar md-primary" md-elevation="0">
            <img srcset="@/assets/img/tcs_logo_1x.png 1x, @/assets/img/tcs_logo_2x.png 2x" alt="" class="app-logo">
            <span class="md-title">TCS</span>
        </md-toolbar>

        <md-list>
          <router-link to="/design" tag="md-list-item" @click.native="menuVisible = !menuVisible">
            <md-icon>add_photo_alternate</md-icon>
            <span class="md-list-item-text">Design</span>
          </router-link>

          <router-link to="/material" tag="md-list-item" @click.native="menuVisible = !menuVisible">
            <md-icon>style</md-icon>
            <span class="md-list-item-text">Material</span>
          </router-link>

          <router-link to="/shipment" tag="md-list-item" @click.native="menuVisible = !menuVisible">
            <md-icon>local_shipping</md-icon>
            <span class="md-list-item-text">Shipment</span>
          </router-link>

          <router-link to="/user-management" tag="md-list-item" @click.native="menuVisible = !menuVisible">
            <md-icon>supervised_user_circle</md-icon>
            <span class="md-list-item-text">User Invitation</span>
          </router-link>

        </md-list>
      </md-app-drawer>

      <md-app-content>
            <div class="app-content">
                <slot/>
            </div>  
      </md-app-content>

    </md-app>
  </div>
</template>

<script>
export default {
  name: 'TheLayoutWrap',
  data: () => ({
    menuVisible: false
  }),
  methods: {
      logOut() {
          this.$router.push('/login');
      }
  }
}
</script>

<style lang="scss" scoped>
    .md-app {
        min-height: 100vh;
    }
    .md-drawer {
        width: 280px;
        max-width: calc(100vw - 125px);
    }
    .navigation-btn {
        position: absolute;
    }
    .md-app-content {
        padding: 16px 0;
    }
    .app-content {
        width: $container-width;
        margin: 0 auto;

         @include respond('medium') {
            width: 960px;
            margin: 0 auto;
        }
        @include respond('small') {
            width: 600px;
        }
        @include respond('xsmall') {
            width: 100%;
            padding: 1.6rem 2.4rem;
        }

        .app-logo {
            height: 45px;
            cursor: pointer;
            
            @include respond('xsmall') {
                margin-left: 2.4rem;
            }
        }
    }
    .toolbar-content {
        display: flex;
        align-items: center;
        height: 64px;
    }
    .toolbar-menu {
        margin-left: auto;
        
        .md-title {
            line-height: 3.6rem;
            margin-right: 6.4rem;
            
            @include respond('xsmall') {
                display: none;
            }
        }
    }
    .icon-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $color-white;
        margin-left: 2.4rem;
        cursor: pointer;
        transition: all .1s ease-in;

        &:hover {
            box-shadow: 0 1rem 2.4rem rgba($color-white, .3);
        }
        &:active {
            transform: translateY(2px);
        }
    }
    .navigation-toolbar {
        .app-logo {
            height: 36px;
            margin-right: 12px;
        }
        .md-title {
            color: $color-white;
            font-weight: 600;
        }
    }
</style>