<template>
    <div class="component-wrap">

        <AppContentHeader :headline="'Box ' + $route.params.id" />

        <div class="md-layout md-alignment-top-space-between box">
            
            <div class="box__controls md-layout-item md-xlarge-size-30 md-large-size-30 md-small-size-100 md-layout">
                
                
                <div class="box__status-flow md-layout-item md-xlarge-size-100 md-large-size-100  md-small-size-50 md-xsmall-size-100 md-elevation-5">
                    
                    <h6 class="md-subheading">Manage statuses</h6>

                    <md-button class="md-primary md-raised">Packing</md-button>
                    <md-button class="md-raised">Loaded on track</md-button>  
                    <md-button class="md-raised">Shipped</md-button>  
                    <md-button class="md-raised">In stagging</md-button>  
                    <md-button class="md-raised">Unpacked</md-button>  

                </div>
                <!-- end of statuses card -->

                
                
                <div class="box__shipment-info md-layout-item md-xlarge-size-100 md-large-size-100 md-small-size-45 md-xsmall-size-100 md-elevation-5">
                    <h6 class="md-subheading">Shipment details</h6>

                    <ul class="details">

                        <li class="details__item">
                            <span class="details__header">Driver</span>
                            <span class="details__value">Lorem John</span>
                        </li>

                        <li class="details__item">
                            <span class="details__header">Driver's phone</span>
                            <span class="details__value">XXX-YYY-ZZZZ</span>
                        </li>

                        <li class="details__item">
                            <span class="details__header">Location</span>
                            <span class="details__value">Lorem City</span>
                        </li>
                        
                        <li class="details__item">
                            <span class="details__header">Start date</span>
                            <span class="details__value">10/12/2019</span>
                        </li>
                    </ul>

                </div>
                <!-- end of shipment details card -->

            </div>
            <!-- end of box controls column -->

            
            
            <div class="box__content md-layout-item md-xlarge-size-66 md-large-size-66 md-small-size-100 md-elevation-5">
                <h6 class="md-subheading">Packed items</h6>

                <OrderDataBlock v-for="(item, index) in items"
                                @click.native="$router.push('/shipment/box/1232/item/123')"
                                :key="index +'_item'"
                                class="order-minimized"/>


            </div>
            <!-- end of box content column -->
        
        </div>

    </div>
</template>

<script>
import OrderDataBlock from "@/components/Common/OrderDataBlock"

export default {
    data: () => ({
        items: [1, 2, 3, 4, 5, 6, 7]
    }),
    components: {
        OrderDataBlock
    }
}
</script>

<style lang="scss" scoped>
.box {
    &__status-flow,
    &__shipment-info,
    &__content {
        @include white-card-with-subheading;
    }

    &__controls {
        padding: 0;
        justify-content: space-between;
    }

    &__status-flow {
        @include manage-status-card;
    }

    .details {
        list-style: none;
        width: 100%;

        &__item {
           display: flex;
           justify-content: space-between;
           font-size: 1.6rem;
           line-height: 2.4rem;
        }

        &__header {
           font-weight: 600;
        }
    }
}
</style>