<template>
    <div class="componet-wrap">
        
        <AppContentHeader headline="Packing App">
            
            <md-button
                v-if="boxScanner.destroyed && !boxUUID"
                class="md-primary md-raised"
                @click="turnBoxScannerOn()">Scan box</md-button>

        </AppContentHeader>

        <AppEmptyState v-if="boxScanner.destroyed && !boxUUID" message="Scan some box's QR code to start packing."/>

        <div v-if="!boxScanner.destroyed || boxUUID" class="content-wrap md-elevation-5">

            <div v-if="boxUUID" class="box-details">
                <p class="box-details__uuid">Box UUID: <span>{{ boxUUID }}</span></p>
                
                <ul class="box-details__items">
                    <li class="box-details__item">Item 1</li>
                    <li class="box-details__item">Item 2</li>
                    <li class="box-details__item">Item 3</li>
                    <li class="box-details__item">Item 4</li>
                    <li class="box-details__item">Item 5</li>
                </ul>

                <md-button class="md-primary md-raised box-details__action" @click="turnItemsScannerOn()">Pack items</md-button>
                <md-button class="md-primary md-raised box-details__action" @click="turnBoxScannerOn()">Choose other box</md-button>
            </div>
            <!-- end of scanned box block -->

            <div class="scanner" v-if="!boxScanner.destroyed">
                
                <p class="md-body-1">Place QR code in the middle of this square:</p>
                
                <qrcode-stream @init="onInit" v-if="!boxScanner.destroyed" @decode="onDecode">
                    <div class="loading-indicator" v-if="loading">
                        Loading...
                    </div>
                </qrcode-stream>

            </div>


            <div class="scanner" v-if="!itemScanner.destroyed">
                
                <p class="md-body-1">Place QR code in the middle of this square:</p>
                
                <qrcode-stream @init="onInitItemScanner" v-if="!itemScanner.destroyed" @decode="onDecodeItem">
                    <div class="loading-indicator" v-if="itemScanner.loading">
                        Loading...
                    </div>
                </qrcode-stream>

            </div>

        </div>


    </div>
</template>

<script>

/** TODO: 
 * 1. Finish setting up workflow for scanning items and putting them in box.
 * 2. Split into components.
 */

export default {
    name: 'ShipmentDashboardBoxPacking',

    data () {
        return {
            boxScanner: {
                loading: false,
                destroyed: true,
            },

            itemScanner: {
                loading: false,
                destroyed: true,
            },
            boxUUID: ''
        }
    },

    methods: {
        async onInit (promise) {
            this.boxScanner.loading = true

            try {
                await promise
            } catch (error) {
                console.error(error)
            } finally {
                this.boxScanner.loading = false
            }
        },
        async reload () {
            this.boxScanner.destroyed = true;

            await this.$nextTick()

            this.boxScanner.destroyed = false
        },


        async onInitItemScanner (promise) {
            this.itemScanner.loading = true

            try {
                await promise
            } catch (error) {
                console.error(error)
            } finally {
                this.itemScanner.loading = false
            }
        },
        async reloadItemScanner () {
            this.itemScanner.destroyed = true;

            await this.$nextTick()

            this.itemScanner.destroyed = false
        },

        onDecode(result) {
            this.boxUUID = result;
            this.boxScanner.destroyed = true;
        },

        onDecodeItem(result) {
            this.itemUUID = result;
            this.itemScanner.destroyed = true;
            setTimeout(()=> {
                this.itemScanner.destroyed = false;
            }, 3000);

        },

        turnBoxScannerOn() {
            this.boxScanner.destroyed = false;
            this.boxUUID = '';
        },

        turnItemsScannerOn() {
            this.itemScanner.destroyed = false;
        }
    }
}
</script>

<style lang="scss" scoped>
.content-wrap {
    width: calc(100% + 4.8rem);
    transform: translateX(-2.4rem);
    padding: 1.6rem;
}

.scanner {
    width: 100%;
    min-height: 320px;
    margin: 0 auto;
    background-color: rgba($color-grey, .2);
    border: 1px solid $color-primary;

    .md-body-1 {
        margin: 8px auto;
        padding: 0 1.6rem;
        text-align: center;
    }
    
    .loading-indicator {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.box-details {
    display: flex;
    flex-direction: column;

    &__uuid {
        font-size: 1.8rem;
        margin-bottom: $margin-small;

        span {
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__items {
        list-style: none;
        padding: 0 0 0 1.6rem;
        margin-bottom: $margin-small;
        padding: 1rem;
        border: 1px solid $color-primary;
    }

    &__item {

    }

    &__action {
        margin-bottom: $margin-small;
    }
}
</style>