<template>
    <div class="component-wrap">
        <AppContentHeader :headline="'Item ' + $route.params.itemId" />

        <div class="md-layout md-alignment-top-space-between item">
                
            <div class="item__status-flow md-layout-item   md-xlarge-size-30 md-large-size-30 md-small-size-100 md-elevation-5">
                    
                <h6 class="md-subheading">Manage statuses</h6>

                <md-button class="md-primary md-raised">Packing</md-button>
                <md-button class="md-raised">Loaded on track</md-button>
                <md-button class="md-raised">Shipped</md-button>
                <md-button class="md-raised">In stagging</md-button>
                <md-button class="md-raised">Unpacked</md-button>
                <md-button class="md-raised">Installed</md-button>
                <md-button class="md-raised">Problem</md-button>
                <md-button class="md-raised">Solved</md-button>  

            </div>
            <!-- end of statuses card -->
            
            
            <div class="box__content md-layout-item  md-xlarge-size-66 md-large-size-66 md-small-size-100">
                
                <OrderDataBlock class="order-minimized md-elevation-5"/>

                <ShipmentItemCommentsSection :item="item"/>

            </div>
            <!-- end of box content column -->
        
        </div>
    </div>
</template>

<script>
import OrderDataBlock from "@/components/Common/OrderDataBlock"
import ShipmentItemCommentsSection from "@/components/ShipmentDashboard/ShipmentItemCommentsSection"

export default {
    name: 'ShipmentDashboardItemPage',
    data: () => ({
        item: {id:123}
    }),
    components: {
        OrderDataBlock,
        ShipmentItemCommentsSection
    }
}
</script>

<style lang="scss" scoped>
.item {
    
    &__status-flow {
        @include white-card-with-subheading;
        @include manage-status-card;
    }

}
</style>