<template>
    <div class="component-wrap">
        <AppContentHeader headline="User management"/>
        <UserInvitation />
    </div>

</template>

<script>
import UserInvitation from '@/components/UserManagement/UserInvitation';

export default {
    name: 'UserManagement',
    components: {
        UserInvitation
    }
}
</script>

<style lang="scss" scoped>

</style>