<template>

    <div class="content-header">
        <h1 class="md-headline">{{headline}}</h1>
        <slot/>    
    </div>

</template>

<script>
    export default {
        name: 'AppContentHeader',
        props: {
            headline: {
                type: String,
                default: 'Headline'
            }
        }
    }
</script>

<style lang="scss" scoped>
    
    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: $margin-big 0 $margin-medium;

        @include respond(xsmall) {
            flex-direction: column;
            align-items: center;
        }

        .md-headline {
            margin: 0;
            font-weight: 600;
            
            @include respond(xsmall) {
                margin-bottom: $margin-small;
            }
        }

        .md-button {
            @include respond(xsmall) {
                width: 100%;
            } 
        }
    }
    
</style>