<template>
    <div class="order md-layout">

        <div class="order__image md-layout-item md-large-size-30 md-small-size-100">
            <img src="@/assets/img/order-image.jpg" alt="Order Image">
        </div>
        <!-- end of order's graphic -->

        <div class="order__info md-layout-item md-small-size-100">
             
             <ul class="info-list">
                <li class="info-list__row">
                    <span class="info-list__head">Advertiser</span>
                    <span class="info-list__col">Lorem Company</span>
                </li>

                 <li class="info-list__row">
                    <span class="info-list__head">Order ID:</span>
                    <span class="info-list__col">#1234212</span>
                </li>

                <li class="info-list__row">
                    <span class="info-list__head">Adspace ID:</span>
                    <span class="info-list__col">#1234212</span>
                </li>

                <li class="info-list__row">
                    <span class="info-list__head">Artwork ID:</span>
                    <span class="info-list__col">#123123</span>
                </li>

                <li class="info-list__row">
                    <span class="info-list__head">Requirements ID:</span>
                    <span class="info-list__col">#3453453</span>
                </li>

                <li class="info-list__row">
                    <span class="info-list__head">Account Executive:</span>
                    <span class="info-list__col">Lorem Admin (lorem_admin@email.com)</span>
                </li>
             </ul>

            <template v-if="user.role === 'design'">
                <md-button class="md-primary md-raised">Download</md-button>
                <md-button class="md-primary md-raised">Download Print Ticket</md-button>
            </template>

            <template v-if="user.role === 'facilitator'">
               
                <md-field class="material-field">
                    <label for="material">Select material</label>
                    
                    <md-select v-model="orderMaterial" name="material" id="material">
                        <md-option value="vinyl">Vinyl</md-option>
                        <md-option value="foamCore">Foam Core</md-option>
                    </md-select>
                </md-field>

                <md-button class="md-primary md-raised" @click="sendToQueue()">Send to queue</md-button>

            </template>

        </div>
        <!-- end of order info block -->

        <div v-if="user.role === 'facilitator' || user.role === 'design'"
            class="order__actions md-layout-item md-large-size-30 md-small-size-100">
            
            <md-button v-if="user.role === 'design'"
                       class="md-primary md-raised"
                       @click="uploadFile()">Upload original</md-button>

            <md-button v-if="user.role === 'facilitator'"
                       class="md-primary md-raised"
                       >Download artwork</md-button>
        </div>
        <!-- end of ordr actions -->

    </div>
</template>

<script>
export default {
    name: 'UIOrderDataBlock',
    data: function() {
        return {
            user: {
                role: ''
            },
            orderMaterial: ''
        }
    },
    created() {
        // only for testing purpose
        const route = this.$router.currentRoute;
        
        if (route.path.includes('material')) {
            this.user.role = 'facilitator';
        }  else if (route.path.includes('design')) {
            this.user.role = 'design'
        }
        // 
    },
    methods: {
        uploadFile() {
            this.$emit('uploadFile');
        },
        sendToQueue() {
            console.log('Will be send to queue');
        }
    }
}
</script>

<style lang="scss">
.order {
    padding: 4rem;
    background-color: $color-grey;

    @include respond(xsmall) {
        padding: 2rem;
    }

    &__image {
        background-color:$color-white;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        padding-left: 3.2rem;

        .md-button {
            margin: $margin-big $margin-small 0 0;
        }
        .material-field {
            color: $color-white;
            margin: $margin-small 0 0; 

            label,
            .md-select-value.md-input {
                -webkit-text-fill-color: $color-white;
                color: $color-white;
            }

            .md-icon-image svg{
                fill: $color-white;
            }

            &::after {
                background-color: $color-white;
            }
        }

        @include respond(small) {
            padding: 2rem;
            margin: $margin-medium 0;
            border: 1px solid $color-white;
        }

        @include respond(xsmall) {
            padding: 1rem;
            margin: $margin-small 0;
            border: 1px solid $color-white;
        }
    }

    .info-list {
        width: 100%;
        padding: 0;
        list-style: none;
        color: $color-white;
        font-size: 1.6rem;

        @include respond(xsmall) {
            font-size: 1.4rem;
        }
        
        &__row {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0 0;
        }

        &__row:first-child {
            font-size: 2.8rem;
            margin-bottom: $margin-small;
            
            @include respond(xsmall) {
                font-size: 1.6rem;
            }
        }

        &__head {
            width: 40%;
        }

        &__col {
            max-width: 55%;
            word-break: normal;
            font-weight: 600;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;

        @include respond(small) {
           justify-content: flex-start;
        }
    }
    
    /**  This class used on shipment dashboard to decrease components paddings
    * on large screens */ 
    &.order-minimized {
        padding: 2rem;
        margin-bottom: $margin-medium;
        cursor: pointer;
    }
}

</style>