<template>
    <md-card v-bind="$attrs" class="md-elevation-15 order-card">
        
        <md-card-header class="card-header__horizontal">
            <div class="md-subhead">#123321</div>
            <div class="md-subhead">Company Name</div>
        </md-card-header>
        <!-- order info -->

        <router-link :to="orderLink + 123">
            <md-card-media>
                <img src="@/assets/img/order-image.jpg" alt="Proof thumbnail" class="card-image">
                <md-tooltip md-direction="bottom">Click to see more info</md-tooltip>
            </md-card-media>
        </router-link>
        <!-- proof thumbnail -->

        <md-card-header>

            <div v-if="cardMode === 'design'" class="md-subhead">file_name.pdf</div>

            <md-field v-if="cardMode === 'material'" class="material-field">
                <label for="material">Select material</label>
                <md-select v-model="orderMaterial" name="material" id="material">
                    <md-option value="vinyl">Vinyl</md-option>
                    <md-option value="foamCore">Foam Core</md-option>
                </md-select>
            </md-field>
            <!-- end of first dynamic content section -->

        </md-card-header>
        <!-- card content -->

        <md-card-expand>

            <md-card-actions md-alignment="space-between">

                <div v-if="cardMode === 'design'">
                    <md-button class="md-raised md-primary">Download</md-button>
                    <router-link tag="md-button"
                                 :to="'order/' + 123"
                                 class="md-raised md-primary" append>Proceed</router-link>
                </div>

                <div v-if="cardMode === 'material'">
                    <md-button class="md-raised md-primary"
                                :disabled="!orderMaterial"
                                @click="sendToQueue()">Send to queue</md-button>
                </div>
                <!-- end of second dynamic content section -->

                <md-card-expand-trigger>
                    <md-button class="md-primary">
                        Notes
                    </md-button>
                </md-card-expand-trigger>
            
            </md-card-actions>
            <!-- end of expand action panel -->

            <md-card-expand-content>
                <md-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. 
                    Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. 
                    Excepturi.
                </md-card-content>
            </md-card-expand-content>
            <!-- end of expand content -->

        </md-card-expand>
    
    </md-card>

</template>

<script>

/** 
 * To do: try to redo component to use slots instead modes, see what's better.
 */

/** 
 * Appearance of this component depends on CardMode property value,
 * that will be passed from parent component.
 * 1. Mode [design] should be used in DesignDashboardComponent 
 *                  and will contain Download and proceed btns;
 * 2. Mode [material] should be used in MaterialDashboardComponent
 *                  and will contain select input for material;
 * 3. Mode [small] should be used in *QueueManager components 
 *                  and will display minimum info  
 */

export default {
    name: "UIOrderCard",
    props: {
        cardMode: {
            type: String,
            default: 'design'
        }
    },
    data: function() {
        return {
            orderMaterial: '',
            orderLink: this.cardMode === 'design' ? '/design/order/' : '/material/order/'
        }
    },
    methods: {
        sendToQueue() {
            console.log('Send to queue');
        }
    }
}
</script>

<style lang="scss" scoped>

.order-card {
    margin-bottom: $margin-big;

    .card-header__horizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
    .card-image {
        cursor: pointer;
    }
    .material-field {
        margin: 0;
    }
    // &:last-child {
    //     margin-right: auto;
    // }
}

</style>