<template>
    <TheLayoutWrap>
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
    </TheLayoutWrap>
</template>

<script>

import TheLayoutWrap from "@/components/Layout/TheLayoutWrap.vue"

export default {
  name: 'AppContent',
  data: () => ({}),
  components: {
    TheLayoutWrap
  }
}
</script>
