<template>
    <form class="login-form md-elevation-5">
        
        <img srcset="@/assets/img/tcs_logo_1x.png 1x, @/assets/img/tcs_logo_2x.png 2x"
            alt="Logo Image"
            class="login-form__logo">

        <h1 class="md-title login-form__title">Welcome back!</h1>

        <AppInput
            class="login-form__field"
            required
            placeholder="Email"
            v-model="$v.email.$model"
            :error="$v.email.$invalid && $v.email.$dirty"
            errorText="Valid email is required"
        />

        <AppInput 
            required
            class="login-form__field"
            type="password"
            placeholder="Password"
            v-model="$v.password.$model"
            :error="$v.password.$invalid && $v.password.$dirty"
        />

        <md-button class="md-primary md-raised login-form__submit-btn"
                    :disabled="$v.$invalid"
                    @click="login()">Submit</md-button>

        <a class="login__forgot-link md-body-1 md-accent" @click.prevent="showResetDialog()">Forgot your pass?</a>    

        <ResetPasswordDialog
            :showDialog.sync="showDialog"
            :emailProp="email"
            :key="dialogKey"
            @emailRequested="showSnackbar = true"/>

        <md-snackbar md-position="center" :md-active.sync="showSnackbar" :md-duration="3000" md-persistent>
            <span>Email succesfully requested!</span>
            <md-button class="md-primary" @click="showSnackbar = false">Got it</md-button>
        </md-snackbar>
    </form>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import ResetPasswordDialog from '@/components/Login/ResetPasswordDialog'

export default {
    name: 'AppLogin',
    data: () => ({
        email: '',
        password: '',
        showDialog: false,
        dialogKey: 0,
        showSnackbar: false
    }),
    validations: {
        email: { required, email },
        password: { required }
    },
    components: {
        ResetPasswordDialog
    },
    methods: {
        login() {
            this.$router.push('/');
        },
        showResetDialog() {
            this.showDialog = true;
            this.dialogKey++;
        }
    }
}
</script>

<style lang="scss" scoped>
.login-form {
    @include default-auth-form;
}
</style>