<template>
    <div class="shipment-box md-elevation-10" @click="$router.push('/shipment/box/' + 1234)">
        
        <div class="shipment-box__info">
            <h6 class="md-subheading">Box #12313</h6>
            <md-button class="md-raised md-primary" @click.stop="unsealBox()">Unseal</md-button>
        </div>

        <div class="shipment-box__items">
            <ul class="shipment-box__list">
                <li class="shipment-box__item md-body-2">#12312 Banner</li>
                <li class="shipment-box__item md-body-2">#234123 Window ABC</li>
                <li class="shipment-box__item md-body-2">#123322 Lorem Item</li>
                <li class="shipment-box__item md-body-2">#123322 Lorem Item</li>
                <li class="shipment-box__item md-body-2">#123322 Lorem Item</li>
                <li class="shipment-box__item md-body-2">#123322 Lorem Item</li>
                <li class="shipment-box__item md-body-2">#123322 Lorem Item</li>
            </ul>
        </div>

        <md-tooltip md-direction="left">Click to see more info</md-tooltip>

    </div>
</template>

<script>
export default {
    methods: {
        unsealBox() {
            console.log('unsealing');
        }
    }
}
</script>

<style lang="scss" scoped>
.shipment-box {
    display: flex;
    padding: 1.6rem 2.4rem;
    margin: 0 0 $margin-medium;
    cursor: pointer;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__items {
        width: 60%;
        margin-left: auto;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        text-align: right;
    }
}
</style>